src/main/mule/dynamic-component.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="dynamic-componentFlow1" doc:id="e10a6003-dd49-4149-a12e-d0d2338afd5d" >
		<http:listener doc:name="Listener" doc:id="4e01c8bb-29d1-4309-81ab-d819dcd0a175" config-ref="HTTP_Listener_config" path="/dynamic"/>
		<ee:transform doc:name="Transform Message" doc:id="dd3037f8-4772-4626-ac23-a6a17ed1351d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myApp" ><![CDATA[%dw 2.0
output application/java
---
p('myApp.' ++ payload.myApp)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="dynamic-evaluate-main" doc:id="fac1f022-addb-4c7e-884c-a927f6dc1a33" name="dynamic-evaluate-main"/>
	</flow>
	<flow name="dynamic-evaluate-main">
		<ee:transform doc:name="Read DWL Script" doc:id="3f00b2d7-3c64-48ed-ab89-9e67a278fe36" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dwlScript" ><![CDATA[%dw 2.0
output application/java
var dwlFilePath = 'classpath://dwl/' ++ (vars.myApp  default " ") ++ '.dwl'
---
readUrl(dwlFilePath, 'text/plain')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:dynamic-evaluate doc:name="Execute Script" doc:id="e6d3d88b-336c-46db-ad31-95fc02f00cfd" expression="#[vars.dwlScript]">
			<ee:parameters >#[{email: &quot;gary.liu@gmail.com&quot;, myDataType: &quot;json&quot;}]</ee:parameters>
		</ee:dynamic-evaluate>


	</flow>
</mule>
